// CSS for the posts/index.tsx template.

@import "scss/variables";

#post_list {
	padding: 5em 0 6em;
	background-color: $color-light-gray;
}

@media screen and (min-width: $breakpoint-medium) {
	#post_list :global(.posts) {
		display: grid;
		column-gap: 10px;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
