.component {
	color: var(--wpe--main--text-color);
	background-color: var(--wpe--main--background-color);
	padding-top: var(--wpe--section--padding-y);
	padding-bottom: var(--wpe--section--padding-y);
}
