.component {
	color: var(--wpe--footer--text-color);
	background: linear-gradient(141deg, #0076dc, #7a1ba6);
	padding-top: var(--wpe--section--padding-y);
	padding-bottom: var(--wpe--section--padding-y);
}
