.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  margin-bottom: 0;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.description {
  margin-top: 0.5rem;
}

.menu {
  display: inline-flex;
  list-style: none;
}

.menu li {
  margin-right: 1rem;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  text-decoration: none;
  color: blue;
}
