TEST_SITE_DB_DSN=mysql:host=127.0.0.1:33066;dbname=wordpress
TEST_SITE_DB_USER=root
TEST_SITE_DB_PASSWORD=wordpress
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=password
TEST_SITE_WP_ADMIN_PATH=/wp-admin
TEST_SITE_WP_URL=http://localhost:8080
HEADLESS_SITE_URL=http://localhost:3000
WP_VERSION=6.0.1-php8.1-apache