:root {
	// Definitions.
	--wpe--color--black: #000;
	--wpe--color--white: #fff;
	--wpe--color--offwhite: #f7f7f7;
	--wpe--color--neutral: rgba(175,184,193,0.2);
	--wpe--color--slate: #0a2540;
	--wpe--color--accent: #635bff;
	--wpe--color--accent--dark: #0a2540;

	// Location Assignments.
	--wpe--link--color: var(--wpe--color--accent);
	--wpe--code--color: var(--wpe--color--black);
	--wpe--code--background-color: var(--wpe--color--neutral);
	--wpe--header--color: var(--wpe--color--slate);
	--wpe--header--background-color: var(--wpe--color--white);
	--wpe--navigation-menu--color: var(--wpe--color--black);
	--wpe--navigation-menu--color--hover: var(--wpe--color--accent);
	--wpe--navigation-menu--background-color: var(--wpe--color--white);
	--wpe--dropdown--background-color: var(--wpe--color--white);
	--wpe--main--color: var(--wpe--color--black);
	--wpe--main--background-color: var(--wpe--color--white);
	--wpe--footer--color: var(--wpe--color--black);
	--wpe--footer--background-color: var(--wpe--color--white);
	--wpe--heading--color: var(--wpe--color--accent);
	--wpe--border--light: 1px solid var(--wpe--color--neutral);
	--wpe--border--extra-light: 1px solid var(--wpe--color--offwhite);

	// Type.
	--wpe--font-weight--light: 300;
	--wpe--font-weight--medium: 400;
	--wpe--font-weight--bold: 700;

	// Spacing.
	--wpe--content--max-width: 620px;
	--wpe--section--padding-y: 3rem;
	--wpe--container--padding-x: 15px;
	--wpe--container--max-width: 900px;

	// Shadows.
	--wpe--shadow--large: 0 50px 120px -40px rgba(150, 150, 150, 0.2), 0 20px 60px -30px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-weight: var(--wpe--font-weight--medium);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
	background-color: var(--wpe--code--background-color);
	color: var(--wpe--code--color);
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1rem;
}

p {
	margin: 0 0 1rem;
	line-height: 1.8;
}

a {
	color: var(--link-color);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;

	&:focus {
		width: auto;
		height: auto;
		margin: 0;
		overflow: auto;
		clip: auto;
	}
}

::-moz-selection {
	color: var(--wpe--color--white);
	background-color: var(--wpe--color--accent);
}

::selection {
	color: var(--wpe--color--white);
	background-color: var(--wpe--color--accent);
}

// @TODO - Remove debugging styles.
// * {
// 	box-shadow: 0 0 0 1px pink;
// }
