/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0ecad4;
  --ifm-color-primary-dark: rgb(12, 181, 190);
  --ifm-color-primary-darker: rgb(11, 161, 169);
  --ifm-color-primary-darkest: rgb(9, 141, 148);
  --ifm-color-primary-light: rgb(15, 227, 238);
  --ifm-color-primary-lighter: rgb(41, 230, 240);
  --ifm-color-primary-lightest: rgb(68, 233, 242);
  --ifm-code-font-size: 95%;

  /* --ifm-color-secondary: #FF6C29;
  --ifm-color-secondary-dark: rgb(255, 87, 11);
  --ifm-color-secondary-darker: rgb(236, 74, 0);
  --ifm-color-secondary-darkest: rgb(207, 64, 0);
  --ifm-color-secondary-light: rgb(255, 122, 62);
  --ifm-color-secondary-lighter: rgb(255, 137, 83);
  --ifm-color-secondary-lightest: rgb(255, 152, 105);
  --ifm-color-content-secondary: #FF6C29; */

  /* --ifm-color-secondary: #002838;
  --ifm-color-secondary-dark: rgb(0, 36, 50);
  --ifm-color-secondary-darker: rgb(0, 32, 44);
  --ifm-color-secondary-darkest: rgb(0, 28, 39);
  --ifm-color-secondary-light: rgb(0, 72, 101);
  --ifm-color-secondary-lighter: rgb(0, 104, 146);
  --ifm-color-secondary-lightest: rgb(0, 137, 192); */

  --ifm-color-success: #50e3c2;
  --ifm-color-success-dark: rgb(53, 222, 184);
  --ifm-color-success-darker: rgb(32, 211, 171);
  --ifm-color-success-darkest: rgb(29, 185, 150);
  --ifm-color-success-light: rgb(97, 229, 200);
  --ifm-color-success-lighter: rgb(114, 232, 206);
  --ifm-color-success-lightest: rgb(132, 235, 212);

  --ifm-color-info: #7e5cef;
  --ifm-color-info-dark: rgb(102, 61, 236);
  --ifm-color-info-darker: rgb(78, 31, 233);
  --ifm-color-info-darkest: rgb(64, 20, 210);
  --ifm-color-info-light: rgb(0, 117, 234);
  --ifm-color-info-lighter: rgb(10, 132, 255);
  --ifm-color-info-lightest: rgb(40, 147, 255);

  --ifm-color-warning: #ffcb52;
  --ifm-color-warning-dark: rgb(255, 192, 48);
  --ifm-color-warning-darker: rgb(255, 182, 14);
  --ifm-color-warning-darkest: rgb(235, 164, 0);
  --ifm-color-warning-light: rgb(255, 208, 99);
  --ifm-color-warning-lighter: rgb(254, 213, 116);
  --ifm-color-warning-lightest: rgb(255, 218, 133);

  --ifm-color-danger: #ff6c29;
  --ifm-color-danger-dark: rgb(255, 87, 11);
  --ifm-color-danger-darker: rgb(236, 74, 0);
  --ifm-color-danger-darkest: rgb(207, 64, 0);
  --ifm-color-danger-light: rgb(255, 122, 62);
  --ifm-color-danger-lighter: rgb(255, 137, 83);
  --ifm-color-danger-lightest: rgb(255, 152, 105);

  /* --ifm-navbar-background-color: #002838; */
  /* --ifm-navbar-link-color: #FFFFFF; */
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme='light'] .footer.footer--dark,
html[data-theme='dark'] .footer.footer--dark {
  background-color: #002838;
}

html[data-theme='dark'] .footer.footer--dark {
  background-color: var(--ifm-navbar-background-color);
}

video {
  max-width: 100%;
}

/* Adjusting default line lengths for better readability */
p {
	max-width: 60ch;
}

/* Adjusting the Hero Subtitle class so it stays centred after the readability adjustment above */
.hero__subtitle {
	margin: 0 auto var(--ifm-paragraph-margin-bottom) auto;
}
