.wp-block-code {
	// This block has customizable padding, border-box makes that more predictable.
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-family: Menlo,Consolas,monaco,monospace;
	padding: .8em 1em;

	// Provide a minimum of overflow handling and ensure the code markup inherits
	// the font-family set on pre.
	code {
		display: block;
		font-family: inherit;
		overflow-wrap: break-word;
		white-space: pre-wrap;
	}

}
