TEST_SITE_DB_DSN=mysql:host=db:3306;dbname=wordpress
TEST_SITE_DB_USER=root
TEST_SITE_DB_PASSWORD=wordpress
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=password
TEST_SITE_WP_ADMIN_PATH=/wp-admin

TEST_SITE_WP_URL=http://wordpress:80

HEADLESS_SITE_URL=http://localhost:3000

WEBDRIVER_HOST=webdriver
WEBDRIVER_port=4444
