WP_ROOT_FOLDER=/path/to/wordpress

# For mysql socket connections
# TEST_SITE_DB_DSN=mysql:unix_socket=/path/to/unit/mysql.sock;dbname=test_database_name
TEST_SITE_DB_DSN=mysql:host=localhost;dbname=test_database_name
TEST_SITE_DB_HOST=localhost
TEST_SITE_DB_NAME=test_database_name
TEST_SITE_DB_USER=
TEST_SITE_DB_PASSWORD=
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=
TEST_SITE_ADMIN_PASSWORD=
TEST_SITE_WP_ADMIN_PATH=/wp-admin

TEST_DB_NAME=test_database_name
TEST_DB_HOST=localhost
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_TABLE_PREFIX=wp_
TEST_SITE_WP_URL=
TEST_SITE_WP_DOMAIN=
TEST_SITE_ADMIN_EMAIL=
