<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="integration">
			<directory prefix="test-" suffix=".php">./tests/integration/</directory>
		</testsuite>
	</testsuites>
</phpunit>
