// Base styles

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-weight: var(--wpe--font-weight--medium);
  font-size: 1rem;

  .is-layout-flex {
    gap: 1.5rem;
  }

  is-layout-flow > * {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .is-layout-flow > * + * {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
  }
  .is-layout-constrained > * {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .is-layout-constrained > * + * {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
  }

  .is-layout-flow > .alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .is-layout-flow > .alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .is-layout-flow > .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .is-layout-constrained > .alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
  }

  .is-layout-constrained > .alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
  }

  .is-layout-constrained > .aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .is-layout-constrained
    > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wpe--content--max-width);
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .is-layout-constrained > .alignwide {
    max-width: var(--wpe--content--max-width);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
}

p {
  margin: 0 0 1rem;
  line-height: 1.8;
}

a {
  color: var(--link-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::-moz-selection {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--accent);
}

::selection {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--accent);
}
