@font-face {
	font-display: swap;
	font-family: 'Public Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Regular'), url('/fonts/public-sans-v1.008/PublicSans-Regular.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Italic'), url('/fonts/public-sans-v1.008/PublicSans-Italic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Thin';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Thin'), url('/fonts/public-sans-v1.008/PublicSans-Thin.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Thin Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Thin Italic'), url('/fonts/public-sans-v1.008/PublicSans-ThinItalic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans ExtraLight';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans ExtraLight'), url('/fonts/public-sans-v1.008/PublicSans-ExtraLight.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans ExtraLight Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans ExtraLight Italic'), url('/fonts/public-sans-v1.008/PublicSans-ExtraLightItalic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Light';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Light'), url('/fonts/public-sans-v1.008/PublicSans-Light.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Light Italic'), url('/fonts/public-sans-v1.008/PublicSans-LightItalic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Medium'), url('/fonts/public-sans-v1.008/PublicSans-Medium.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Medium Italic'), url('/fonts/public-sans-v1.008/PublicSans-MediumItalic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans SemiBold';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans SemiBold'), url('/fonts/public-sans-v1.008/PublicSans-SemiBold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans SemiBold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans SemiBold Italic'), url('/fonts/public-sans-v1.008/PublicSans-SemiBoldItalic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Bold'), url('/fonts/public-sans-v1.008/PublicSans-Bold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Bold Italic'), url('/fonts/public-sans-v1.008/PublicSans-BoldItalic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans ExtraBold';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans ExtraBold'), url('/fonts/public-sans-v1.008/PublicSans-ExtraBold.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans ExtraBold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans ExtraBold Italic'), url('/fonts/public-sans-v1.008/PublicSans-ExtraBoldItalic.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Black';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Black'), url('/fonts/public-sans-v1.008/PublicSans-Black.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Public Sans Black Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Public Sans Black Italic'), url('/fonts/public-sans-v1.008/PublicSans-BlackItalic.woff') format('woff');
}
