// CSS for the Footer component in components/Footer.tsx.

@import "sass/variables";

.wrap {
	margin: 0 auto;
	max-width: $content-width-extended;
}

footer.main {
	background: $color-light-gray;
	height: 100px;
}

footer.main p {
	color: $color-dark-gray;
	line-height: 100px;
	margin: 0;
}
