// CSS for the Posts component in components/Posts.tsx.

@import "sass/variables";

.title a {
	color: $color-black;
	text-decoration: none;
}

.title a:focus,
.title a:hover {
	color: $color-primary;
}
