.component {
	padding-right: var(--wp--style--root--padding-right);
	padding-left: var(--wp--style--root--padding-left);
	margin-right: auto;
	margin-left: auto;
	max-width: var(--wp--style--global--wide-size);
}
