.component {
	color: var(--wp--preset--color--contrast);
	background: var(--wp--preset--color--base);
	padding-top: var(--wp--style--root--padding-top);
	padding-bottom: var(--wp--style--root--padding-bottom);
}

.copyright {
	margin: 2rem 0;
	text-align: center;
}
