// Skip link specific styles. Intentionally separate from this theme's sr-only class.
.component {
  color: var(--wp--preset--color--base);
  background-color: var(--wp--preset--color--contrast);
  padding: 0.5rem 0.8rem !important;
  position: relative;
  margin: 0.5rem !important;
  z-index: 1;
}
