.component {
	padding-right: var(--wpe--container--padding-x);
	padding-left: var(--wpe--container--padding-x);
	margin-right: auto;
	margin-left: auto;
	max-width: var(--wpe--container--max-width);
}
