// Skip link specific styles. Intentionally separate from this theme's sr-only class.
.component {
  color: var(--wpe--color--white);
  background-color: var(--wpe--color--black);
  padding: 0.5rem 0.8rem !important;
  position: relative;
  margin: 0.5rem !important;
  z-index: 1;
}
