// CSS for the themes/front-page.tsx template.

@import "sass/variables";

.explore {
	margin: 5em 0 5em;
}

.features {
	column-gap: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#post-list :global(.posts) {
	display: grid;
	column-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

#post-list {
	padding: 5em 0 6em;
	background-color: $color-light-gray;
}
