$color-primary: #0070f3;
$color-black: #000;
$color-white: #fff;
$color-dark-gray: #1f1f1f;
$color-light-gray: #f2f2f2;
$color-mid-gray: #606060;

$font-family: "Public Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-normal: 300;
$font-weight-bold: 600;

$content-width: 1200px;
$content-width-extended: 1400px;

$breakpoint-small: 600px;
$breakpoint-medium: 1000px;
