/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featuresRow {
	justify-content: center;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
