name: Lint Packages
on: pull_request
jobs:
  lint_packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: rm package-lock.json
      - run: npm install
      - run: npm run build
      - run: npm run lint
        continue-on-error: FALSE
