name: Nightly Releases

# Cron scheduling
# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
# │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
# │ │ │ │ │
# │ │ │ │ │
# │ │ │ │ │
# * * * * *

on:
  schedule:
    # Monday-Friday at 8:35pm UTC / 3:35pm CST

    # Uses the 35th minute because GitHub Workflow load is significantly
    # increased at the start of the hour. By invoking the workflow in the
    # middle of the hour, there is less chance of delay.
    - cron: '35 20 * * 1-5'

jobs:
  release_nightly_canary:
    name: Release Nightly Canary
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: 18.x

      - name: Install Dependencies
        run: npm ci

      - name: Create .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # https://github.com/atlassian/changesets/blob/master/docs/snapshot-releases.md
      - name: Release to NPM
        run: |
          npm run version:nightly
          npm run release:nightly
