on:
  push:
    branches:
      - canary
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**/*.md'

name: SonarQube Scan
jobs:
  sonarqube:
    if: github.repository_owner == 'wpengine'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
