# Your WordPress site URL
NEXT_PUBLIC_WORDPRESS_URL=http://localhost:8888

# Plugin secret found in WordPress Settings->Faust
# Pre-configured for the tutorial - no need to change this!
FAUST_SECRET_KEY=47485b27a3d36728659cd62feb79658b3d05712b41095c13eeb73fcba7d33ac7